DATABASE_URL=""
AUTH_SECRET=""
NEXTAUTH_URL=""
ENCRYPTION_KEY=""
FAXAGE_USERNAME=""
FAXAGE_COMPANY=""
FAXAGE_PASSWORD=""
FAXAGE_WEBHOOK_SECRET=""
R2_ACCOUNT_ID="99a19e584439be0568f33aad0477372b"
S3_BUCKET="health-agent"
S3_ACCESS_KEY_ID=""
S3_SECRET_ACCESS_KEY=""
