DATABASE_URL=""
AUTH_SECRET=""
NEXTAUTH_URL=""
ENCRYPTION_KEY=""
FAXAGE_USERNAME=""
FAXAGE_COMPANY=""
FAXAGE_PASSWORD=""
FAXAGE_WEBHOOK_SECRET=""
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET=""
